<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<%= image_tag('elevating_impact_summit.jpg', :class => 'center-image profile') %>
  	<br>
  	<p>My name is Guru Khalsa and I'm a full stack web developer living in Portland, OR. I love using programming to create and innovate.  I focus on custom ecommerce solutions and social applications.  I love connecting people with each other and with products and services that make their lives better.  In my personal life I enjoy snowboarding, windsurfing, jiu jitsu, table tennis, and spending time with my wife and our dog.</p>
  	<h4><%= mail_to 'gk@khalsa.guru' %></h4>
	</div>
</div>