<div class='spirit-voyage-container'>
	<h1 class='center'>Spirit Voyage</h1>
	<div class='row'>
		<div class='col-lg-6'>
			<div class='center'>Bid</div>
			<div class='center'>$29,000</div>
		</div>
		<div class='col-lg-6'>
			<div class='center'>Project Estimate</div>
			<div class='center'>6 months</div>
		</div>
	</div>
	<p>
		Spirit Voyage needs an updated web space that 
	</p>
	<div id="timeline" style="width: 100%; height: 380px; margin-top: 40px;"></div>

	<div style='margin-top:400px;'></div>
	<!-- <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AgCYC2f4J9uDdHFtLVlUQ0F2VVZmT2tHME1yNXlrVHc&font=Bevan-PotanoSans&maptype=toner&lang=en&start_at_slide=4&height=450' width='100%' height='450' frameborder='0'></iframe> -->
</div>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['timeline']}]}"></script>
<script type='text/javascript'>
  $(document).ready(function(){
  	google.setOnLoadCallback(drawChart);

    function drawChart() {
      var container = document.getElementById('timeline');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();

      dataTable.addColumn({ type: 'string', id: 'President' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
      dataTable.addRows([
      	[ 'Project Discussion', new Date(2015, 3, 31), new Date(2015, 4, 13) ],
        [ 'Planning & Architecture', new Date(2015, 3, 31), new Date(2015, 4, 13) ],
        [ 'Setup Production Environment', new Date(2015, 4, 11), new Date(2015, 4, 29) ],
        [ 'Develop RSpec Tests', new Date(2015, 4, 29), new Date(2015, 5, 30) ]]);

      chart.draw(dataTable);
    }
  });
</script>
