<nav class="navbar navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  
    <%= link_to image_tag('logo.png'), root_path, :id => "logo", :class => "navbar-brand"%>
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <% if current_user %>
	  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
	   
	    <ul class="nav navbar-nav navbar-right">
	    	<li><%= link_to "New Post", new_post_path %></li>
	    </ul>

	  <!--</div> /.navbar-collapse -->
  <% end %>
  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
     
      <!-- <ul class="nav navbar-nav navbar-right"> -->
        <div><%= link_to "About Me", about_path, :class => 'about-me-navbar-link' %></div>
      <!-- </ul> -->

    <!--</div> /.navbar-collapse -->
</nav>